<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <property name="LOG_DIR" value="/data/data/com.wlvpn.consumervpn/files/log" />

    <property name="NAME_FILE" value="diagnostics" />

    <property name="EXT_FILE" value=".txt" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_DIR}/${NAME_FILE}${EXT_FILE}</file>

        <!-- We must use a backup policy to limit number of files with at least 2 logs-->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${NAME_FILE}%i${EXT_FILE}</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>25MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss:SSS} [%thread] - %msg%n</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="file" />
    </root>

</configuration>